.icon {
    width: 20px;
    height: 20px;
    fill: #000000;
    &_white {
        transform: rotate(-90deg);
        fill: #ffffff;
        &:hover {
            fill: $main-color;
        }
    }
    &_size30 {
        width: 30px;
        height: 30px;
    }
    &__close {
        width: 29px;
        height: 29px;
    }
    &__cart {
        width: 30px;
        height: 30px;
        &_size27 {
            width: 27px;
            height: 27px;
        }
    }
    &__item {
        width: 25px;
        height: 25px;
    }
    &__contacts {
        width: 30px;
        height: 30px;
    }
}

